.block{
 margin: 50px;
}

.first li:first-child{
 text-decoration: line-through;
}

.first li{
  list-style-type: none;
}

.first li:nth-child(2){
  font-weight: 600;
}

.first li:nth-child(3){
 font-style: italic;
}

.first li:last-child{
 text-transform: uppercase;
}

.first li::before{
  content: '✓'
}

.second li:nth-child(2):hover{
 color: red;
}

.second li{
  list-style-type: none;
}

.second li::before{
  content: '✓'
}

.Full{
 border: 1px solid #000;
 font-size: 15px;
 width: 115px;
 padding: 10px 10px 10px 40px;
 border-radius: 50%;
 background-color: #4fd;
}

.Full:hover{
  background-color: #f4d;
}

.Full:checked{
  background-color: #4df;
}

.color::first-line{
 color: red;
}

.color2::first-letter{
  color: red;
}
